/***********************************************************************************************************************
*	Global Elements
***********************************************************************************************************************/
body { font-family: "Open Sans", Arial, sans-serif; font-size: 12px; background: #d0d0d0; color: #3c3a35;}
.align-center { text-align: center;}
.font-size-13 { font-size: 13px; }
.arial-font { font-family: Arial, sans-serif;}
.whiteborder { border: 2px solid #FFF; }

/***********************************************************************************************************************
*	Layout Elements
***********************************************************************************************************************/
.logo-padding { padding-top: 7px; }
.login-link:hover { color: #FFF !important; }
.login-link { color: #499df3 !important;}
.nav-padding { padding-top: 4px; }
.lock { float: left; margin-right: 3px !important; line-height: 12px;}
.bread-padding { padding-top: 8px; font-size: 14px; }
.search-padding { padding-top: 3px; }
.light-gray-icon { color: #b9b9b9;}
.top-margin { margin-top: 20px; }
.widget { background: #e8e8e8; border-radius: 4px; }
.content { background: #e8e8e8; border-radius: 4px; min-height: 1100px; padding: 10px; font-size: 13px;}

.widget-title { background: #d9d9d9; text-transform: uppercase; border-radius: 4px; padding: 3px; text-align: center; width: 100px; font-weight: 600; margin-bottom: 10px; margin-top: 10px; }
.welcome-msg { font-size: 18px;}
.widget-up-info { color: #909090; font-weight: 600;}
.up-icons-area { background: #e0e7ec; margin-top: 10px; margin-bottom: 10px; padding: 3px;}
.mail-padding { padding-left: 20px; }

.twitter-area { background: #e0e7ec; border-bottom: 1px solid #d6d6d6; padding: 5px;}
.twitter-area-sep { background: #e8e8e8; border-bottom: 1px solid #d6d6d6; padding: 5px; }
.twitter-area:hover { background: #dbdbdb; }
.twitter-area-sep:hover { background: #dbdbdb; }
.tweet-icon { padding-left: 25px; padding-top: 5px;}
.tweet-username { color: #4aa3ff;}
.tweet-usernameat { color: #878888;}
.tweet-text { color: #878888; padding: 5px; font-size: 12px; }
.tweet-day { float: right; font-size: 10px; color: #a4a4a5; margin: 0px; padding: 0px;}
.twitter-top { border-top: 1px solid #d6d6d6; }
.twitter-last { margin-bottom: 20px; }


.news-title { font-size: 13px; color: #989a9b; font-weight: 600;}
.news-text { color: #878888;}
.news-top-border { border-top: 1px solid #d6d6d6;}
.news-bottom-border { border-bottom: 1px solid #d6d6d6; margin-bottom: 5px; }
.news-padding { padding: 5px; }

.border-button { border: 2px solid #b7b7b7; color: #b7b7b7; text-transform: uppercase; padding: 2px; font-weight: 600; border-radius: 4px;}
.border-button a { color: #a4a4a4;}

footer h2 { color: #c0b9a8;}
footer p { color: #c0b9a8;}
.social-icons { padding: 10px; text-align: right; }
.login-margin { margin-bottom: 10px;}
.icon-click { cursor: pointer;}
.login-icons { width: 24px; height: 24px; display:block; overflow:hidden; text-indent:100%; white-space:nowrap;}
.mail-icon { background:url("/images/mail_24.png"); }
.mail-icon:hover { background:url("/images/mail_24_h.png"); }
.gear-icon { background:url("/images/gear_24.png"); }
.gear-icon:hover { background:url("/images/gear_24_h.png"); }
.lock-icon { background:url("/images/lock_24.png"); }
.lock-icon:hover { background:url("/images/lock_24_h.png"); }
.spanner-icon { background:url("/images/spanner_24.png"); }
.spanner-icon:hover { background:url("/images/spanner_24_h.png"); }

.lower-margin { margin-bottom: 20px; }
.table { background: #FFF; }

/***********************************************************************************************************************
*	News Elements
***********************************************************************************************************************/
.news-sub-text  {font-size: 11px; margin-bottom: 10px;}
.news-sep { border: none; border-bottom: 1px solid #44b8f4; margin-top: 25px; margin-bottom: 25px; }
.news-comments-sep { border: none; border-bottom: 1px solid #dfdfdf; margin-top: 5px; margin-bottom: 5px; }
.social-media-button { float: left; margin: 2px;}

.wordpress-icon { background:url("/images/social-066_wordpress.png");}
.wordpress-icon:hover{  background:url("/images/social-066_wordpress_b.png"); }
.google_icon { background:url("/images/social-080_google_plus.png"); }
.google_icon:hover { background:url("/images/social-080_google_plus_b.png"); }
.skype_icon { background:url("/images/social-047_skype.png"); }
.skype_icon:hover { background:url("/images/social-047_skype_b.png"); }
.facebook_icon { background:url("/images/social-046_facebook.png"); }
.facebook_icon:hover { background:url("/images/social-046_facebook_b.png"); }
.twitter_icon { background:url("/images/social-043_twitter.png"); }
.twitter_icon:hover { background:url("/images/social-043_twitter_b.png"); }

.social-icon { margin-left: 3px; margin-right: 3px; float: right; width: 32px; height: 32px; display:block; overflow:hidden; text-indent:100%; white-space:nowrap;}
#messages-event { margin-bottom: 10px; }


/***********************************************************************************************************************
*	Profiles Elements
***********************************************************************************************************************/
.small-text { font-size: 10px; }